*.pyc
/tests/output/test.txt
/mishtar/mytemped.old.py
/mishtar/mytemped_const.old.py
/rezki/mytemped.py
/rezki/mytemped_const.py
/tests/output/
/tests/samples/.~lock.dataset.csv#
/mishtar/mytemped.old.2.py
/mishtar/mytemped_const.old.2.py
/tests/samples/dataset.old.csv
/build/
/dist/
/mishtar.egg-info/
